body {
    background-color: rgb(82, 167, 241);
    /* background-color: rgb(169, 233, 50); */
}

table {
    border: 5px solid;
    border-color: aqua;

}
#table-set{
position:absolute;
top:100px;
}
div:hover {
    cursor: pointer;
}

.button {
 animation-duration: '500ms';    

}

._buttonTest:hover {
    cursor: cell;

}